<!doctype html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  lang="$lang$"
  xml:lang="$lang$"
  $if(dir)$
  dir="$dir$"
  $endif$
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    $for(author-meta)$
    <meta name="author" content="$author-meta$" />
    $endfor$ $if(date-meta)$
    <meta name="dcterms.date" content="$date-meta$" />
    $endif$ $if(keywords)$
    <meta name="keywords" content="$for(keywords)$$keywords$$sep$, $endfor$" />
    $endif$ $if(description-meta)$
    <meta name="description" content="$description-meta$" />
    $endif$
    <title>
      $if(title-prefix)$$title-prefix$ –
      $endif$$if(pagetitle)$$pagetitle$$else$$if(title)$$title$$endif$$endif$
    </title>
    $for(css)$
    <link rel="stylesheet" href="$css$" />
    $endfor$ $for(header-includes)$ $header-includes$ $endfor$
    <style>
      ${css/math-environments.css()}
    </style>
  </head>
  <body>
    $for(include-before)$ $include-before$ $endfor$ $if(title)$
    <h1 class="title">$title$</h1>
    $if(subtitle)$
    <p class="subtitle">$subtitle$</p>
    $endif$ $if(author)$
    <p class="author">
      $for(author)$$author.name$$if(author.affiliation)$,
      $author.affiliation$$endif$$sep$; $endfor$
    </p>
    $endif$ $if(date)$
    <p class="date">$date$</p>
    $endif$ $endif$ $if(abstract)$
    <div class="abstract">
      <p><strong>Abstract.</strong> $abstract$</p>
    </div>
    $endif$ $if(toc)$
    <nav id="TOC" role="doc-toc">
      $if(toc-title)$
      <h2 id="$idprefix$toc-title">$toc-title$</h2>
      $endif$ $table-of-contents$
    </nav>
    $endif$ \({${css/math-macros.html()}}\) $body$ $if(bibliography)$
    <div id="refs" role="doc-bibliography">
      $for(bibliography)$ $bibliography$ $endfor$
    </div>
    $endif$ $for(include-after)$ $include-after$ $endfor$
  </body>
</html>
